node_modules
node_modules_container
docs
.git
jdl/**/.jhipster/**
.vscode-test
**/templates/**/
**/jdl-core.min.js
**/generated-serialized-grammar.js
test/fixtures/**
dist
coverage

**/*.html

package-lock.json
.git

/.vscode
/node_modules
/.dist


*.env
.env
.env.*